<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Find your home</h1>
    <a href ="/on_logout">|logout|</a>
    <a href ="/home">home</a>
    <hr>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                            
            {% for message in messages %}            
                <p>{{message}}</p>                   
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/on_join_home" method="POST">
        <p>Home Name: <input type ="text" name="hn"></p>
        <p>Password: <input type ="password" name="pw"></p>
        <p>Confirm Password: <input type ="password" name="cpw"></p>
        <input type="submit" value="Find Home">
    </form>
</body>
</html>