<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_home.css') }}">
</head>
<body>
    <div class = "wrapper">
        <div class ="roof">
            <h1>Hello {{ session['name'] }}!</h1>
            {% for user in users %}
            <h3>Home is Where the Heart is </h3>
        </div>
        <div class ="home_heading">
            <h2>The {{user['home_name']}} Home</h2>
            {% endfor %}
            {% for kid in kids %}
            <p>{{kid['first_name']}} has {{kid['kid_coins']}} kid coins</p>
            {% endfor %}
        </div>
        <div class ="form">
            {% for home in homes %}
            <form action="/on_create_work/{{home['id']}}" method="POST">
                <p>Description: <input type ="text" name="des"></p>
                <p>Value: <input type ="number" name="val"></p>
                <input type="submit" value="Build Work-Ethic">
            </form> 
            {% with messages = get_flashed_messages() %}     
                {% if messages %}                            
                    {% for message in messages %}            
                        <p>{{message}}</p>                   
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        <div class="table">
            <div class = "jobs">
            <h2>tasks</h2>
                {% for job in jobs %}
                    <p>{{job['description']}} worth {{job['value']}} Kid Coins</p><a href="/on_completed_work/{{job['id']}}">Done</a>
                    {% for admin in homes %}
                        <a href="/on_deleted_work/{{job['id']}}">Delete</a>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class ="pending">
            <h3>pending...</h3>
                {% for complete in completed %}
                    <p>{{complete['description']}} worth {{complete['value']}} Kid Coins</p>
                    {% for admin in homes %}
                        <p><a href="/on_approved_work/{{complete['id']}}">Approve</a>--<a href="/on_denied_work/{{complete['id']}}">Deny</a></p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="window_door">
            <img src="{{ url_for('static', filename='img/window.jpeg') }}">
            <img src="{{ url_for('static', filename='img/red_door.jpeg') }}">
            <img src="{{ url_for('static', filename='img/window.jpeg') }}">
        </div>
        <div class = "bottom_links">
            <a href ="/on_logout"> Logout </a>
            <a href ="/home">Account</a>
            {% for bonus in bonuses %}
            <a href ="/user_home_bonus/{{bonus['home_id']}}">Bonus</a> 
            <a href ="/user_home_fun/{{bonus['home_id']}}">Fun</a>
            <a href ="/approvals/{{bonus['home_id']}}">Approvals</a>
            {% endfor %}
        </div> 
    </div>  
</body>
</html>