<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/play_room.css') }}">
</head>
<body>
    <div class = "wrapper">
        <div class="roof">
            <h1>Hello {{ session['name'] }}!</h1>
            <h3>Work Hard Play Hard</h3>
        </div>
        <div class="heading">
            <h2>Play Room</h2>
        </div>
        {% for home in homes %}
        <div class="form">
            <h2>Pay To Play</h2>
            <form action="/on_fun/{{home['id']}}" method="POST">
                <p>Description: <input type ="text" name="des"></p>
                <p>Cost: <input type ="number" name="val"></p>
                <input type="submit" value="Nothing is Free">
            </form> 
            {% with messages = get_flashed_messages() %}     
            {% if messages %}                            
                {% for message in messages %}            
                    <p>{{message}}</p>                   
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        <div class="table">
            <div class = "jobs">
            <h3>Fun Costs</h3>
                {% for job in jobs %}
                    <p>{{job['description']}} cost {{job['value']}} Kid Coins</p>
                    <p><a href="/on_completed_work/{{job['id']}}">Pay</a>
                    {% for admin in homes %}
                    <td><a href="/on_deleted_work/{{job['id']}}">Delete</a></p>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class = "pending">
            <h3>pending...</h3>
            {% for complete in completed %}
            <p>{{complete['description']}} cost {{complete['value']}} Kid Coins</p>
                {% for admin in homes %}
                <p><a href="/on_approved_work/{{complete['id']}}">Approve</a>--<a href="/on_denied_work/{{complete['id']}}">Deny</a></p>
                {% endfor %}
            {% endfor %}
            </div> 
        
        <div class="window_door">
            <img src="{{ url_for('static', filename='img/window.jpeg') }}">
            <img src="{{ url_for('static', filename='img/red_door.jpeg') }}">
            <img src="{{ url_for('static', filename='img/window.jpeg') }}">
            </div>
        <div class="bottom_links">
            <a href ="/on_logout"> Logout </a>
            <a href ="/home">Account</a>
            {% for link in links %}
            <a href ="/user_home/{{link['home_id']}}">Home</a>
            <a href ="/user_home_bonus/{{link['home_id']}}">Bonus</a>
            <a href ="/approvals/{{link['home_id']}}">Approvals</a>
            {% endfor %}
        </div>
    </div>   
</body>
</html>